In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("Top100moststreamed.csv")
df.head(10)

,title,artist,top genre,year,beats.per.minute,energy,danceability,loudness.dB,liveness,valance,length,acousticness,speechiness,popularity
0,Blinding Lights,The Weeknd,canadian contemporary r&b,2020,171,73,51,-6,9,33,200,0,6,91
1,Watermelon Sugar,Harry Styles,pop,2019,95,82,55,-4,34,56,174,12,5,88
2,Mood (feat. iann dior),24kGoldn,cali rap,2021,91,72,70,-4,32,73,141,17,4,88
3,Someone You Loved,Lewis Capaldi,pop,2019,110,41,50,-6,11,45,182,75,3,86
4,Perfect,Ed Sheeran,pop,2017,95,45,60,-6,11,17,263,16,2,86
5,Believer,Imagine Dragons,modern rock,2017,125,78,78,-4,8,67,204,6,13,86
6,lovely (with Khalid),Billie Eilish,electropop,2018,115,30,35,-10,10,12,200,93,3,86
7,Circles,Post Malone,dfw rap,2019,120,76,70,-3,9,55,215,19,4,86
8,Shape of You,Ed Sheeran,pop,2017,96,65,83,-3,9,93,234,58,8,85
9,Memories,Maroon 5,pop,2021,91,33,78,-7,8,60,189,84,6,85

In [2]:
r1 = df.groupby('year')[['energy','popularity']].agg({'sum','mean','min','max'})
r1

     energy                    popularity
        sum min max       mean        sum min max       mean
year
1975     40  40  40  40.000000         81  81  81  81.000000
1995     90  90  90  90.000000         77  77  77  77.000000
2004     91  91  91  91.000000         81  81  81  81.000000
2008     46  46  46  46.000000         80  80  80  80.000000
2012    241  71  92  80.333333        238  76  82  79.333333
2013    229  26  78  57.250000        322  72  84  80.500000
2014    338  38  74  56.333333        478  70  83  79.666667
2015    846  38  81  65.076923       1006  66  83  77.384615
2016   1019  40  87  63.687500       1238  53  84  77.375000
2017    776  37  82  64.666667        988  79  86  82.333333
2018   1208  30  86  60.400000       1590  56  86  79.500000
2019    935  11  82  58.437500       1293  67  88  80.812500
2020    221  69  79  73.666667        256  81  91  85.333333
2021    188  33  83  62.666667        239  66  88  79.666667

In [3]:
r1 = df.groupby('year')[['energy','popularity']].agg(['sum','mean','min','max'])
r1

     energy                    popularity
        sum       mean min max        sum       mean min max
year
1975     40  40.000000  40  40         81  81.000000  81  81
1995     90  90.000000  90  90         77  77.000000  77  77
2004     91  91.000000  91  91         81  81.000000  81  81
2008     46  46.000000  46  46         80  80.000000  80  80
2012    241  80.333333  71  92        238  79.333333  76  82
2013    229  57.250000  26  78        322  80.500000  72  84
2014    338  56.333333  38  74        478  79.666667  70  83
2015    846  65.076923  38  81       1006  77.384615  66  83
2016   1019  63.687500  40  87       1238  77.375000  53  84
2017    776  64.666667  37  82        988  82.333333  79  86
2018   1208  60.400000  30  86       1590  79.500000  56  86
2019    935  58.437500  11  82       1293  80.812500  67  88
2020    221  73.666667  69  79        256  85.333333  81  91
2021    188  62.666667  33  83        239  79.666667  66  88

In [5]:
r1 = df[df['year']>=2016]
r2 =r1.groupby('year')[['length','beats.per.minute']].agg({'mean','median','var','std'})
r2

     length                                     beats.per.minute
     median          var        std        mean           median          var
year
2016  215.0   372.095833  19.289786  216.687500            108.5   786.333333  \
2017  202.5  1463.969697  38.261857  203.833333            109.5   794.628788
2018  214.5  1130.642105  33.625022  213.300000            102.5   669.207895
2019  196.5   485.716667  22.038981  199.125000            118.5   718.383333
2020  183.0   102.333333  10.115994  188.333333            124.0  1654.333333
2021  172.0   592.333333  24.337899  167.333333             91.0   408.333333


            std        mean
year
2016  28.041636  117.250000
2017  28.189161  117.916667
2018  25.869053  111.050000
2019  26.802674  123.375000
2020  40.673497  128.333333
2021  20.207259  102.666667

In [8]:
r1 = df[df['year']>=2016]
r2 = r1.groupby('year').agg({'energy':['min','max'],'popularity':['min','max'],
                            'liveness':['mean','std'],'acousticness':['mean','std']})
r2

     energy     popularity       liveness            acousticness
        min max        min max       mean        std         mean        std
year
2016     40  87         53  84  16.187500   8.871067    18.562500  21.577670
2017     37  82         79  86  13.583333   5.946096    17.583333  24.133938
2018     30  86         56  86  17.100000  11.827266    29.450000  25.394726
2019     11  82         67  88  17.625000  18.521609    31.062500  28.990731
2020     69  79         81  91   9.666667   0.577350     8.666667  14.153916
2021     33  83         66  88  26.666667  16.653328    35.333333  42.571508

In [9]:
top10_gen =df['top genre'].value_counts()
top10_gen =top10_gen.sort_values(ascending=False).head()
top10_gen

top genre
dance pop       28
pop             11
dfw rap          7
modern rock      6
canadian pop     6
Name: count, dtype: int64

In [10]:
top10_gen.index

Index(['dance pop', 'pop', 'dfw rap', 'modern rock', 'canadian pop'], dtype='object', name='top genre')

In [18]:
r4 = df[df['top genre'].isin(top10_gen.index)].groupby('top genre').agg({'beats.per.minute':['min','max'],
                                                                        'liveness':['min','max'],
                                                                        'energy':['var','std'],
                                                                        'danceability':['var','std']})
r4

             beats.per.minute      liveness          energy
                          min  max      min max         var        std
top genre
canadian pop               83  150        5  30  282.666667  16.812694  \
dance pop                  80  160        3  56  242.522487  15.573133
dfw rap                    90  160        7  25  152.952381  12.367392
modern rock                90  170        6  67  240.166667  15.497312
pop                        79  125        8  34  274.490909  16.567767

             danceability
                      var        std
top genre
canadian pop   207.066667  14.389811
dance pop      106.818783  10.335317
dfw rap         59.238095   7.696629
modern rock    179.100000  13.382825
pop            253.254545  15.913973

In [17]:
import pandas as pd
import numpy as np
df = pd.read_csv("Top100moststreamed.csv")
df.head(10)

,title,artist,top genre,year,beats.per.minute,energy,danceability,loudness.dB,liveness,valance,length,acousticness,speechiness,popularity
0,Blinding Lights,The Weeknd,canadian contemporary r&b,2020,171,73,51,-6,9,33,200,0,6,91
1,Watermelon Sugar,Harry Styles,pop,2019,95,82,55,-4,34,56,174,12,5,88
2,Mood (feat. iann dior),24kGoldn,cali rap,2021,91,72,70,-4,32,73,141,17,4,88
3,Someone You Loved,Lewis Capaldi,pop,2019,110,41,50,-6,11,45,182,75,3,86
4,Perfect,Ed Sheeran,pop,2017,95,45,60,-6,11,17,263,16,2,86
5,Believer,Imagine Dragons,modern rock,2017,125,78,78,-4,8,67,204,6,13,86
6,lovely (with Khalid),Billie Eilish,electropop,2018,115,30,35,-10,10,12,200,93,3,86
7,Circles,Post Malone,dfw rap,2019,120,76,70,-3,9,55,215,19,4,86
8,Shape of You,Ed Sheeran,pop,2017,96,65,83,-3,9,93,234,58,8,85
9,Memories,Maroon 5,pop,2021,91,33,78,-7,8,60,189,84,6,85

In [21]:
top10_gen =df['top genre'].value_counts()
top10_gen =top10_gen.sort_values(ascending=False).head()
top10_gen

top genre
dance pop       28
pop             11
dfw rap          7
modern rock      6
canadian pop     6
Name: count, dtype: int64

In [18]:
r5 = df[df['artist'].isin(artist_req)].groupby('artist').agg(MaxEnergy =('energy','max'),
                                                              SumLength =('length','sum'),
                                                              MeanPopularity =('popularity','mean'),
                                                              MeanDanceability=('danceability','mean'),
                                                              VarBeatsPerMinute=('beats.per.minute','var'))
r5

,MaxEnergy,SumLength,MeanPopularity,MeanDanceability,VarBeatsPerMinute
artist,,,,,
Imagine Dragons,82,756,81.000000,58.750000,1034.916667
Post Malone,80,1486,81.285714,66.714286,524.904762
The Chainsmokers,87,700,81.666667,63.333333,1256.333333

In [25]:
artist_req =['Post Malone','Ed Sheeram','Imagine Dragons','The Weekend','The Chainsmokers']
artist_req

['Post Malone',
 'Ed Sheeram',
 'Imagine Dragons',
 'The Weekend',
 'The Chainsmokers']

In [22]:
top10_gen.index

Index(['dance pop', 'pop', 'dfw rap', 'modern rock', 'canadian pop'], dtype='object', name='top genre')

In [27]:
r4 = df[df['top genre'].isin(top10_gen.index)].groupby('top genre').agg(MeanEnergy =('energy','mean'))
r4

              MeanEnergy
top genre
canadian pop   63.666667
dance pop      63.178571
dfw rap        60.571429
modern rock    68.833333
pop            55.090909

In [30]:
r4['Rank_asc']=r4['MeanEnergy'].rank(ascending=True)
r4['Rank_desc']=r4['MeanEnergy'].rank(ascending=False)
r4.sort_values(by='MeanEnergy')

              MeanEnergy  Rank_asc  Rank_desc
top genre
pop            55.090909       1.0        5.0
dfw rap        60.571429       2.0        4.0
dance pop      63.178571       3.0        3.0
canadian pop   63.666667       4.0        2.0
modern rock    68.833333       5.0        1.0

In [31]:
r4 = df[df['top genre'].isin(top10_gen.index)].groupby('top genre').agg(CountLength =('length','count'))
r4

              CountLength
top genre
canadian pop            6
dance pop              28
dfw rap                 7
modern rock             6
pop                    11

In [37]:
r4['Rank_asc']=r4['CountLength'].rank(ascending =True)
r4['DRank_asc']=r4['CountLength'].rank(method ='dense',ascending =True)
r4['Rank_desc']=r4['CountLength'].rank(ascending =False)
r4['DRank_dense']=r4['CountLength'].rank(method ='dense',ascending =False)
r4.sort_values(by='CountLength')

              CountLength  Rank_asc  DRank_asc  Rank_desc  DRank_dense
top genre
canadian pop            6       1.5        1.0        4.5          4.0
modern rock             6       1.5        1.0        4.5          4.0
dfw rap                 7       3.0        2.0        3.0          3.0
pop                    11       4.0        3.0        2.0          2.0
dance pop              28       5.0        4.0        1.0          1.0

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("Top100moststreamed.csv")
df.head(10)

,title,artist,top genre,year,beats.per.minute,energy,danceability,loudness.dB,liveness,valance,length,acousticness,speechiness,popularity
0,Blinding Lights,The Weeknd,canadian contemporary r&b,2020,171,73,51,-6,9,33,200,0,6,91
1,Watermelon Sugar,Harry Styles,pop,2019,95,82,55,-4,34,56,174,12,5,88
2,Mood (feat. iann dior),24kGoldn,cali rap,2021,91,72,70,-4,32,73,141,17,4,88
3,Someone You Loved,Lewis Capaldi,pop,2019,110,41,50,-6,11,45,182,75,3,86
4,Perfect,Ed Sheeran,pop,2017,95,45,60,-6,11,17,263,16,2,86
5,Believer,Imagine Dragons,modern rock,2017,125,78,78,-4,8,67,204,6,13,86
6,lovely (with Khalid),Billie Eilish,electropop,2018,115,30,35,-10,10,12,200,93,3,86
7,Circles,Post Malone,dfw rap,2019,120,76,70,-3,9,55,215,19,4,86
8,Shape of You,Ed Sheeran,pop,2017,96,65,83,-3,9,93,234,58,8,85
9,Memories,Maroon 5,pop,2021,91,33,78,-7,8,60,189,84,6,85

In [4]:
top10_gen =df['top genre'].value_counts()
top10_gen =top10_gen.sort_values(ascending=False).head()
top10_gen

top genre
dance pop       28
pop             11
dfw rap          7
modern rock      6
canadian pop     6
Name: count, dtype: int64

In [2]:
artist_req =['Post Malone','Ed Sheeram','Imagine Dragons','The Weekend','The Chainsmokers']
artist_req

['Post Malone',
 'Ed Sheeram',
 'Imagine Dragons',
 'The Weekend',
 'The Chainsmokers']

In [5]:
top10_gen.index

Index(['dance pop', 'pop', 'dfw rap', 'modern rock', 'canadian pop'], dtype='object', name='top genre')

In [6]:
r4 = df[df['top genre'].isin(top10_gen.index)].groupby('top genre').agg(CountLength =('length','count'))
r4

              CountLength
top genre
canadian pop            6
dance pop              28
dfw rap                 7
modern rock             6
pop                    11

In [9]:
r4['MaxRank'] = r4['CountLength'].rank(method = 'max')
r4['MinRank'] = r4['CountLength'].rank(method = 'min')
r4['MeanRank'] = r4['CountLength'].rank(method = 'average')
r4

              CountLength  MaxRank  MinRank  MeanRank
top genre
canadian pop            6      2.0      1.0       1.5
dance pop              28      5.0      5.0       5.0
dfw rap                 7      3.0      3.0       3.0
modern rock             6      2.0      1.0       1.5
pop                    11      4.0      4.0       4.0

In [11]:
r4['MaxRank_desc']=r4['CountLength'].rank(method ='max',ascending =False)
r4['MinRank_desc']=r4['CountLength'].rank(method ='min',ascending =False)
r4['MeanRank_desc']=r4['CountLength'].rank(method ='average',ascending =False)
r4

,CountLength,MaxRank,MinRank,MeanRank,MaxRank_desc,MinRank_desc,MeanRank_desc
top genre,,,,,,,
canadian pop,6,2.0,1.0,1.5,5.0,4.0,4.5
dance pop,28,5.0,5.0,5.0,1.0,1.0,1.0
dfw rap,7,3.0,3.0,3.0,3.0,3.0,3.0
modern rock,6,2.0,1.0,1.5,5.0,4.0,4.5
pop,11,4.0,4.0,4.0,2.0,2.0,2.0