In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv("Top100moststreamed.csv")
df.head(10)

,title,artist,top genre,year,beats.per.minute,energy,danceability,loudness.dB,liveness,valance,length,acousticness,speechiness,popularity
0,Blinding Lights,The Weeknd,canadian contemporary r&b,2020,171,73,51,-6,9,33,200,0,6,91
1,Watermelon Sugar,Harry Styles,pop,2019,95,82,55,-4,34,56,174,12,5,88
2,Mood (feat. iann dior),24kGoldn,cali rap,2021,91,72,70,-4,32,73,141,17,4,88
3,Someone You Loved,Lewis Capaldi,pop,2019,110,41,50,-6,11,45,182,75,3,86
4,Perfect,Ed Sheeran,pop,2017,95,45,60,-6,11,17,263,16,2,86
5,Believer,Imagine Dragons,modern rock,2017,125,78,78,-4,8,67,204,6,13,86
6,lovely (with Khalid),Billie Eilish,electropop,2018,115,30,35,-10,10,12,200,93,3,86
7,Circles,Post Malone,dfw rap,2019,120,76,70,-3,9,55,215,19,4,86
8,Shape of You,Ed Sheeran,pop,2017,96,65,83,-3,9,93,234,58,8,85
9,Memories,Maroon 5,pop,2021,91,33,78,-7,8,60,189,84,6,85

In [3]:
df[['energy','liveness']].describe()

           energy    liveness
count  100.000000  100.000000
mean    62.680000   16.860000
std     16.491737   12.972403
min     11.000000    3.000000
25%     52.000000   10.000000
50%     64.500000   12.000000
75%     76.000000   17.250000
max     92.000000   79.000000

In [4]:
r1 = df.groupby('year')[['energy','liveness']].sum()
r1

      energy  liveness
year
1975      40        30
1995      90        19
2004      91        10
2008      46        11
2012     241       103
2013     229        52
2014     338       103
2015     846       203
2016    1019       259
2017     776       163
2018    1208       342
2019     935       282
2020     221        29
2021     188        80

In [6]:
r2 =df[df['top genre']=='pop']
print(r2.shape)
r2['popularity'].sum()

(11, 14)

899

In [8]:
r3 = df.groupby('year')[['energy','liveness']].sum()
r3

      energy  liveness
year
1975      40        30
1995      90        19
2004      91        10
2008      46        11
2012     241       103
2013     229        52
2014     338       103
2015     846       203
2016    1019       259
2017     776       163
2018    1208       342
2019     935       282
2020     221        29
2021     188        80

In [11]:
r4 =df[df['artist']=='pop malone']
print(r4.shape)
r4['loudness.dB'].min()

(0, 14)

nan

In [5]:
import pandas as pd
import numpy as np
df = pd.read_csv("Top100moststreamed.csv")
df.head(10)

,title,artist,top genre,year,beats.per.minute,energy,danceability,loudness.dB,liveness,valance,length,acousticness,speechiness,popularity
0,Blinding Lights,The Weeknd,canadian contemporary r&b,2020,171,73,51,-6,9,33,200,0,6,91
1,Watermelon Sugar,Harry Styles,pop,2019,95,82,55,-4,34,56,174,12,5,88
2,Mood (feat. iann dior),24kGoldn,cali rap,2021,91,72,70,-4,32,73,141,17,4,88
3,Someone You Loved,Lewis Capaldi,pop,2019,110,41,50,-6,11,45,182,75,3,86
4,Perfect,Ed Sheeran,pop,2017,95,45,60,-6,11,17,263,16,2,86
5,Believer,Imagine Dragons,modern rock,2017,125,78,78,-4,8,67,204,6,13,86
6,lovely (with Khalid),Billie Eilish,electropop,2018,115,30,35,-10,10,12,200,93,3,86
7,Circles,Post Malone,dfw rap,2019,120,76,70,-3,9,55,215,19,4,86
8,Shape of You,Ed Sheeran,pop,2017,96,65,83,-3,9,93,234,58,8,85
9,Memories,Maroon 5,pop,2021,91,33,78,-7,8,60,189,84,6,85

In [7]:
r4 = df.groupby('artist')['danceability'].min()
r4.head()

artist
24kGoldn               70
5 Seconds of Summer    60
Alan Walker            59
Ariana Grande          72
Avicii                 53
Name: danceability, dtype: int64

In [8]:
r4 =df[df['artist']=='Ed Sheeran']
r4['acousticness'].max()

61

In [10]:
r5 = df.groupby('top genre')[['length','acousticness']].max()
r5

                           length  acousticness
top genre
acoustic pop                  242            60
alternative rock              223             0
australian dance              212             5
australian pop                209            69
beatlesque                    259             0
boy band                      203             2
brostep                       214            19
cali rap                      141            17
canadian contemporary r&b     242            14
canadian hip hop              199             3
canadian pop                  234            84
chicago rap                   240            35
classic rock                  354            27
conscious hip hop             177             0
dance pop                     270            64
danish pop                    237            29
detroit hip hop               321             1
dfw rap                       231            56
electro house                 213             3
electropop                    200            98
emo rap                       167            47
folk-pop                      253            43
gangster rap                  234             3
irish singer-songwriter       242            63
latin                         230            23
lgbtq+ hip hop                157             5
melodic rap                   197            10
modern rock                   204            19
neo soul                      270            92
north carolina hip hop        182            25
pop                           282            84
pop dance                     172             5
pop rap                       258             3
rap                           313             8

In [11]:
r6 =df[df['year']>=2017]
r6['valance'].var()

448.1988120195667

In [12]:
df[['energy','liveness']].std()

energy      16.491737
liveness    12.972403
dtype: float64

In [14]:
r6 =df[df['year']>=2015]
r7 = r6.groupby('year')['popularity'].std()
r7

year
2015     5.091471
2016     8.007288
2017     2.386833
2018     6.160144
2019     5.504165
2020     5.131601
2021    11.930353
Name: popularity, dtype: float64

In [15]:
r6 =df[df['year']==2018]
r7 =r6['title'][r6['artist']=='Post Malone'].count()
r7

4

In [16]:
r7 = df.groupby('top genre')['title'].count()
r7

top genre
acoustic pop                  1
alternative rock              1
australian dance              1
australian pop                1
beatlesque                    1
boy band                      1
brostep                       1
cali rap                      1
canadian contemporary r&b     4
canadian hip hop              2
canadian pop                  6
chicago rap                   1
classic rock                  1
conscious hip hop             1
dance pop                    28
danish pop                    1
detroit hip hop               1
dfw rap                       7
electro house                 1
electropop                    4
emo rap                       2
folk-pop                      2
gangster rap                  1
irish singer-songwriter       1
latin                         2
lgbtq+ hip hop                1
melodic rap                   3
modern rock                   6
neo soul                      1
north carolina hip hop        1
pop                          11
pop dance                     1
pop rap                       1
rap                           2
Name: title, dtype: int64

In [17]:
df[['valance','length','energy']].mean()

valance     49.97
length     214.53
energy      62.68
dtype: float64

In [20]:
r7 = df.groupby('artist')[['popularity','energy','danceability']].mean()
r7.head()

                     popularity  energy  danceability
artist
24kGoldn                   88.0    72.0          70.0
5 Seconds of Summer        80.0    85.0          60.0
Alan Walker                72.0    65.0          59.0
Ariana Grande              83.0    48.5          75.0
Avicii                     84.0    78.0          53.0

In [21]:
df['liveness'].median()

12.0

In [23]:
r7 = df.groupby('year')[['popularity','energy','speechiness']].median()
r7.head()

      popularity  energy  speechiness
year
1975        81.0    40.0          5.0
1995        77.0    90.0          4.0
2004        81.0    91.0          7.0
2008        80.0    46.0          5.0
2012        80.0    78.0          6.0